<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>this is the live feed</h1>

  <button id="btn1" disabled>1</button>
  <button id="btn2" disabled>2</button>
  <button id="btn3" disabled>3</button>
  <button id="btn4" disabled>4</button>
  <button id="btn5" disabled>5</button>

  <br><br><br>

  <p>aantal keer 1 gedrukt: <span id="statsspec1">0</span></p>
  <p>aantal keer 2 gedrukt: <span id="statsspec2">0</span></p>
  <p>aantal keer 3 gedrukt: <span id="statsspec3">0</span></p>
  <p>aantal keer 4 gedrukt: <span id="statsspec4">0</span></p>
  <p>aantal keer 5 gedrukt: <span id="statsspec5">0</span></p>

  <br><br><br>

  <button onclick="window.location.href = '/';">home</button>
  <button onclick="window.location.href = '/live';">reload</button>
  
  <script src="javascripts/primus.js"></script>
  <script src="javascripts/clicknumber.js"></script>
  <script src="javascripts/stats.js"></script>

</body>

</html>